<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">

    <div class="d-flex w-100" id="navbarsExample04">
        <ul class="navbar-nav mr-auto" id="navbar">
            <li class="nav-item" th:class="${activePage == 'home'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>

            <li class="nav-item" th:class="${activePage == 'create'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/create}">Create</a>
            </li>

<!--            <li class="nav-item" th:class="${activePage == 'sales'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/sales}">Sales</a>
            </li>
            
            <li class="nav-item" th:class="${activePage == 'admin'} ? 'nav-item active' : 'nav-item'" >
                <a class="nav-link" th:href="@{/admin}">Admin</a>
            </li>-->
        </ul>
        
        <ul class="navbar-nav ml-auto" id="logout">
            <!--REMOVE THIS FOR DEMO-->
            <li class="nav-item" th:class="${activePage == 'login'} ? 'nav-item active' : 'nav-item'" >
                <a class="nav-link" th:href="@{/login}">login</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'login'} ? 'nav-item active' : 'nav-item'" >
                <a class="nav-link" th:href="@{/logout}">logout</a>
            </li>
            <!--REMOVE THIS FOR DEMO-->
        </ul>
        
    </div>
</nav>
</html>